//Base

@import 'base/_reset';
@import 'base/_colors';
@import 'base/_breakpoints';
@import 'base/_base';
@import 'base/_typography';

//Modules

@import 'modules/_buttons.scss';
@import 'modules/_call-to-actions.scss';
@import 'modules/_footer.scss';
@import 'modules/_forms.scss';
@import 'modules/_header.scss';
@import 'modules/_tables.scss';
@import 'modules/_animations.scss';
@import 'modules/_partners.scss';
@import 'modules/_careers.scss';
@import 'modules/_testimonials.scss';

//Pages

@import 'pages/_about.scss';
@import 'pages/_homepage.scss';
@import 'pages/_page.scss';
@import 'pages/_products.scss';
@import 'pages/_services.scss';

