// About

.about-image-block {
	padding-bottom: 100px;
	display: flex;
	display: -ms-flexbox;
	flex-direction: row;
	align-items: center;

	.left {
		-webkit-box-flex: 1;
		-ms-flex: 1 1;
		flex: 1 1;
	}

	.right {
		margin-top: 50px;
		-webkit-box-flex: 1;
		-ms-flex: 1 1;
		flex: 1 1;
	}

	img {
		width: 100%;
	}

	@include respond-below(md) {
		padding-bottom: 0px;
	}

}

.careers-image-block {
	.right {
		margin-top: 0px;
	}

	.left {
		margin-top: 50px;
	}
}

.about-skills {
	padding-bottom: 150px;

	@include respond-below(md) {
		padding-bottom: 50px;
	}

	.page-header-left {
		padding-bottom: 100px;

		@include respond-below(xs) {
			padding-bottom: 50px;
		}
	}
	.skill-row {
		.col {
			display: inline-block;
			width: 30%;
			padding-right: 4%;
			vertical-align: top;

			@include respond-below(xs) {
				width: 100%;
				padding-right: 0px;
				margin-bottom: 20px;
			}

			&:last-child {
				padding-right: 0px;
			}

			 p {
			 	font-size: 16px;
			 	line-height: 24px;
			 	font-weight: $regular;
			 }

			 li {
			 	list-style: none;
			 	font-size: 16px;
			 	margin-left: 0px;
			 	font-weight: $regular;
			 }

			img {
				max-width: 55px;
				margin-bottom: 30px;
			}
		}
	}
}

.team-grid {
	margin-bottom: 100px;
	font-size: 0;
	.member {

		img {
			width: 100%;
			border-radius: 100%;
			max-width: 110px;
			margin-bottom: 10px;
			box-shadow: 0px 3px 6px #88888870;

			@include respond-below(sm) {
				max-width: 95px;
				margin-bottom: 5px;
			}
		}


		i {
			font-size: 22px;
		}

		a {
			border-bottom: none;
			padding-left: 5px;
			padding-right: 5px;
			color: #c3c3c3;

			&:hover {
				color: $blue;
			}
		}

		width: 20%;
		padding: 25px;
		-moz-box-sizing: border-box; 
		box-sizing: border-box;
		display: inline-block;
		vertical-align: top;
		text-align: center;

		@include respond-below(md) {
			width: 33.3%;
		}

		@include respond-below(sm) {
			width: 50%;
			padding: 10px;
		}

		@include respond-below(xs) {
			width: 100%;
		}

		h3 {
			margin-bottom: 5px;
			font-weight: $xlight;
		}

		p {
			font-size: 16px;
			line-height: 24px;

			&.role {
				font-weight: $semi-bold;
				margin-bottom: 10px;
			}
		}
	}

}

.careers-information {
	p {
		padding-bottom: 30px;
	}
}


.company-locations {
	text-align: center;
	padding-bottom: 100px;
	font-size: 16px;
	line-height: 24px;

	a {
	  font-weight: $regular;
	}

	p {
	  font-weight: $regular;
	}

	@include respond-below(md) {
		padding-bottom: 50px;
	}
	
	.location {
		img {
			width: 100%;
			margin-bottom: 30px;

			@include respond-below(xs) {
			max-width: 300px;
			}
		}

		display: inline-block;
		vertical-align: top;
		padding: 40px;
		width: 40%;
		-moz-box-sizing: border-box; 
		box-sizing: border-box;
		text-align: left;

		@include respond-below(md) {
			padding: 20px;
		}

		@include respond-below(xs) {
			text-align: center;
			padding: 0px;
			margin-bottom: 30px;
			width: 100%;
			display: block;
		}


		.detail {
			
			&.left {
				width: 30%;
				float: left;
				padding-right: 5%;

				@include respond-below(md) {
					width: 100%;
					padding-right: 0px;
					float: none;
				}
			}

			&.right {
				width: 50%;
				float: right;

				@include respond-below(md) {
					width: 100%;
					padding-right: 0px;
					float: none;
				}
			}
			
		}
	}
}



