// Page

.page-header-centered {
	text-align: center;
	max-width: 700px;
	padding: 150px 25px 150px 25px; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	margin: 0 auto;
	position: relative;

	img {
		width: 150px;
		height: 150px;
		position: absolute;
		z-index: -1;
		left: 0;
		top: 100px;

		@include respond-below(sm) {
			width: 70px;
			height: 70px;
			top: 50px;
			left: 20px;
		}
	}

	span {
		font-weight: $regular;
	}

	@include respond-below(sm) {
		padding: 80px 20px 80px 20px; 
	}
}

.page-header-left {
	text-align: left;
	max-width: 700px;
	padding: 100px 25px 100px 25px; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box;
	position: relative;

	img {
		width: 150px;
		height: 150px;
		position: absolute;
		z-index: -1;
		left: 0;
		top: 60px;

		@include respond-below(sm) {
			width: 70px;
			height: 70px;
			top: 50px;
			left: -20px;
		}
	}

	span {
		font-weight: $regular;
	}

	@include respond-below(sm) {
		padding: 80px 0px 50px 0px; 
	}
}

.curve {
	.curve-top {
		background: url(../assets/images/whitespace-curve-top.png) no-repeat center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100px;
		margin-bottom: -1px;
	}

	.information {
		background-image: linear-gradient($light-blue, $white);
		padding-bottom: 150px;

		@include respond-below(sm) {
			padding-bottom: 75px;
		}
	}

}

.section-header-details {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 50px;

	@include respond-below(sm) {
		margin-bottom: 30px;
	}

	p {
		margin-bottom: 0px;
	}
}

.right-image {
	text-align: right;
	background: url(../assets/images/whitespace-circle.png) no-repeat right;
	background-size: 800px 800px;
	background-position: 129% 28%;
    padding-top: 100px;
    padding-bottom: 100px;

    img {
    	max-width: 1020px;
    }

    @include respond-below(lg) {
		background-size: 700px 700px;
	}

	@include respond-below(md) {
		background-size: 600px 600px;
		background-position: 158% 28%;

		img {
			max-width: 750px;
		}
	}

	@include respond-below(sm) {
		background: none;
		padding-top: 0px;
		padding-bottom: 50px;

		img {
			width: 100%;
		}
	}
}

.left-text {
	max-width: 600px;
	padding-top: 100px;
	padding-bottom: 150px;

		@include respond-below(sm) {
			padding-top: 50px;
			padding-bottom: 10px;
		}
}

.written-content {
	max-width: 860px;
	margin: 0 auto;
	padding-top: 100px;
	padding-bottom: 150px;
	padding-left: 30px;
	padding-right: 30px;
    -moz-box-sizing: border-box; 
	box-sizing: border-box;

	@include respond-below(lg) {
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 20px;
		padding-right: 20px;
	}

	h1 {
		text-align: center;
		margin-bottom: 50px;
	}
}