// Products

.products {

	.container {
	    max-width: 1500px;
		 display: flex;
  		flex-flow: wrap;

  		@include respond-below(xs) {
			flex: none;
		}
	   .product {
		margin-bottom: 80px;
		width: 100%;
		padding: 3%;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		font-size: 16px;
		line-height: 24px;
		flex: 0 0 50%;
		-ms-flex:  0 0 49%;

		img {
			width: 100%;
			margin-bottom: 20px;
		}

		@include respond-below(xs) {
			flex: none;
			margin-bottom: 40px;
		}

	}

}

}


