// Typeography

h1, h2, h3, h4, h5, h6{
	margin-top: 0;
	margin-bottom: 30px;
	font-weight: $xlight;
	color: $dark-grey; 
}

h1 { 
	font-size: 32px; 
	line-height: 44px;
	position: relative;

	@include respond-below(sm) {
		font-size: 26px; 
		line-height: 32px;
	}

	&.dot-detail:before {
		content: "";
		position: absolute;
		top: -20px;
		background: $primary-gradient;
	    width: 12px;
	    height: 12px;
	    border-radius: 100%;
	    left: 50%;
	}
}

h2 { 
	font-size: 32px; 
	line-height: 44px;
	position: relative;
	margin-bottom: 15px;

	@include respond-below(sm) {
		font-size: 26px; 
		line-height: 34px;
	}

	&.dot-detail:before {
		content: "";
		position: absolute;
		top: -20px;
		background: $primary-gradient;
	    width: 12px;
	    height: 12px;
	    border-radius: 100%;
	    left: 50%;
	}
}

h3 { 
    font-size: 26px; 
	line-height: 28px;
	font-weight: $regular;

	@include respond-below(sm) {
		font-size: 22px; 
		line-height: 36px;
	}

}

h4 { 
	font-size: 16px; 
	line-height: 24px; 
	font-weight: $regular;

	@include respond-below(sm) {
		margin-bottom: 10px;
	}
}

p {
	margin-top: 0;
	margin-bottom: 25px;
	font-weight: $light;

}

strong {
	font-weight: $bold;
}

em {
	font-style: italic;
}

// Links

a {
	position: relative;
	text-decoration: none;
	transition: all 0.1s ease-in-out 0s;
	border-bottom: 1px solid #e4e4e4;
	color: $light-grey;
    font-weight: $light;

    &:hover {
    	color: $blue;
    }
}

// Lists

ul {
	margin-bottom: 25px;
	font-size: 16px;

	li {
		margin-bottom: 15px;
		list-style-type: disc;
		list-style-position: inside;
		margin-left: 15px;
		font-size: 18px;
		line-height: 24px;
		font-weight: $light;

		@include respond-below(sm) {
			font-size: 16px;
			line-height: 22px;
		}
	}
}

ol {
	display: block;
	list-style-type: decimal;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 25px;
	padding-left: 40px;

	li {
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0px;
		}
		
	}

}




