// Buttons

@mixin my-button-mixin($btn-colour, $btn-background) {
  border-radius: 100px;
  background: $btn-background;
  color: $btn-colour;
  display: inline-block;
  text-align: center;
  font-weight: $regular;
  text-decoration: none;
  line-height: 45px;
  white-space: nowrap;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: $base-font-size;
  transition: all 0.2s ease-in-out 0s;
  padding: 0px 25px 0px 25px;
  box-shadow: 0px 3px 6px #88888870;
  border: none;

    -webkit-transition: background 1s ease-out;  
    -moz-transition: background 1s ease-out;  
    -o-transition: background 1s ease-out;  
    transition: background 1s ease-out;  

    background-size:1px 200px;  

  &:focus { outline: none }

}

.button {
  @include my-button-mixin($white, $primary-gradient);
  height: 45px;
  min-width: 175px;
  font-size: 16px;
  
  &:hover {
    background-position:100px; 
    color: $white;
   }
}

