// Footer

footer {
	padding-top: 100px;
	padding-bottom: 100px;
	background: $white;
	font-size: 16px;
	border-top: 1px solid #E4EBF1;

		@include respond-below(sm) {
			padding-top: 80px;
			padding-bottom: 80px;
		}

	.col {
		display: inline-block;
		vertical-align: top;
		padding-right: 1%;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;

			@include respond-below(sm) {
				margin-bottom: 30px;
				text-align: center;
				padding-right: 0px;
			}

		ul {
			margin-bottom: 0px;
		}

		p {
			margin-bottom: 0px;
		    font-weight: $regular;
		}

		li {
			margin-bottom: 10px;
			list-style: none;
			margin-left: 0px;
			font-size: 16px;
			font-weight: $regular;
		}

		a {
			border-bottom: 0px;
			font-weight: $regular;

			&:hover {
				color: $blue;
			}

		}
		
		&.logo {
			width: 20%;

			img {
				max-width: 164px;
			}

			@include respond-below(sm) {
				width: 100%;
			}

		}

		&.info {
			width: 20%;

			@include respond-below(sm) {
				width: 100%;
			}
		}


		&.locations {
			width: 38%;

			.col {
				width: 42%;

				@include respond-below(sm) {
					width: 100%;
					margin-bottom: 30px;
				}
			}

			@include respond-below(sm) {
				width: 100%;
			}
		}

		&.connect {
			width: 20%;

			@include respond-below(sm) {
				width: 100%;
			}
		}


	}
}