.alert {
    height: 50px;
    background: $light-blue;
    color: $dark-grey;
    position: relative;

    p {
    	margin-bottom: 0px;
    	font-weight: $regular;
    	font-size: 16px;
    	line-height: 24px;
    	text-align: center;
    	position: absolute;
    	max-width: 800px;
    	right: 0;
    	left: 0;
    	top: 0;
    	bottom: 0;
    	margin: 0 auto;
		top: 50%;
		transform: translateY(-50%);
		-moz-box-sizing: border-box; 
		box-sizing: border-box;
		padding-left: 20px;
		padding-right: 20px;
    }


    a {
    	color: $dark-grey;
    	font-weight: $semi-bold;
    	border-bottom: none;

    	&:hover {
    		color: $blue;
    	}
    }

	.closebtn {
	    margin-left: 15px;
	    color: $dark-grey;
	    font-weight: bold;
	    float: right;
	    font-size: 25px;
	    line-height: 20px;
	    cursor: pointer;
	    transition: 0.3s;
	    position: absolute;
    	right: 20px;
		top: 50%;
		transform: translateY(-50%);

	    &:hover {
	    	color: $blue;
		}
	}

}



header {
	background: $white;  
	width: 100%;
	max-width: 1800px;

	ul {
		li {
			list-style: none;
			margin-left: 0px;
			font-size: 16px;
		}
	}

	@include respond-below(xs) {
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.logo {
		float: left;
		padding-top: 26px;
		transition: 0.2s;
		a {
			border-bottom: none;
		}
		img {
			max-width: 165px;
		}

		@include respond-below(xs) {
			padding-top: 11px;
			padding-bottom: 0px;
		}

		&:hover {
			opacity: 0.8;
			transition: 0.2s;
		}
	}

	.navigation {
		overflow: hidden;
		float: right;
		padding-top: 30px;
		padding-bottom: 10px;
		margin-bottom: 0px;
		font-size: 16px;

			li {
				float: left;
				 padding-left: 50px;

				@include respond-below(sm) {
					padding-left: 40px;
				}

			}

			a {
			  display: block;
			  color: $dark-grey;
			  font-weight: $semi-bold;
			  text-align: right;
			  text-decoration: none;
			  position: relative;
			  border: none;

			  &:before {
				content: "";
				position: absolute;
				top: -12px;
				background-color: transparent;
				width: 9px;
				height: 9px;
				border-radius: 100%;
				left: 40%;
				transition: background-color 0.3s;
			  }

			  &:hover {
				  font-weight: $semi-bold;
				  color: $dark-grey;
			  } 

			  &:hover:before {
				background-color: $blue;
			  }

		}

		.active::before {
			content: "";
			position: absolute;
			top: -12px;
			background: $blue;
			width: 9px;
			height: 9px;
			border-radius: 100%;
			left: 40%;
		}

		@include respond-below(xs) {
			display: none;
		}

	}

}


.mobile-nav {

	display: none;

	@include respond-below(xs) {
		display: block;
	}

	.circle-button {
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  align-items: center;
	  width: 45px;
	  height: 45px;
	  border-radius: 100%;
	  transition: .1s;
	  float: right;
	  cursor: pointer;

		 .lines {
		  position: relative;
		  margin-top: 8px;
		  height: 2px;
		  width: 35px;
		  background-color: $grey;
		  border-radius: 25px;
		  top: 0px;
		  transition: .35s;
		  transition-timing-function: ease-out;
		}

		.lines:first-child{
		  margin-top: 0
		}

		.first-rectangle-down {
		  top: 10px;
		  transform: rotate(135deg);
		}

		.third-rectangle-up {
		  top: -9px;
		  transform: rotate(-135deg);
		}

		.second-rectangle-rotate {
		  transform: rotate(135deg);
		}
	}

	.overlay{
	  opacity: 0;
	  position: fixed;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background-color: $light-blue;
	  z-index: -99999999999;
	  transition: .75s;
	  text-align: center;

		.overlay-content{
			position: relative;
			top: 17%;

		  a {
		  	display: block;
		  	border-bottom: none;
		  	font-size: 22px;
		  	margin-bottom: 40px;
		  	color: $dark-grey;

		  	&.active {
		  		color: $blue;
		  		font-weight: $regular;
		  	}
		  }

		}

		&.overlay-show {
			opacity: 1;
			z-index: 9999999999;
			margin-top: 76px;
		}

	}

}


.scrollUp {
   transform: translateY(-80px);
}






