// Partners

.partners {
	padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;

	@include respond-below(sm) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.logos {

		font-size: 0;

		img {
			display: inline-block;
			vertical-align: top;
			width: 25%;
			margin-bottom: 60px;

			@include respond-below(xs) {
				width: 50%;
				margin-bottom: 30px;
			}
		}

	}
}