// Partners

.partners {
	padding-top: 150px;
	padding-bottom: 150px;
	text-align: center;

	@include respond-below(sm) {
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.logos {

		img {
			display: inline-block;
			vertical-align: top;
			width: 20%;
			margin-bottom: 40px;

			@include respond-below(xs) {
				width: 49%;
			}
		}

	}
}